# This notebook will be comprised of 3 parts
- Part 1 - Import all pershing square finalist predictions from past 5 years as well as their current stock trends
- Part 2 - Compare the performance of this winners against major indexes and see if we'd be better off listening to winners
- Part 3 - Look at some reasons why winners may not have performed against expectations

In [15]:
### Part 1 -- Importing prediction from google docs

In [16]:
import numpy as np
import pandas as pd
import os
from datetime import datetime, timedelta
import yfinance as yf
import matplotlib.pyplot as plt
import chart_studio.plotly as py
import plotly.express as px
import plotly.graph_objects as go
current_directory = os.getcwd()
print(current_directory) 
pd.set_option('display.max_rows', 500)

/Users/srite/repos/sri_avi_blog_posts/pershing_square_challenge

In [17]:
predictions = pd.read_csv('pershing_square_predictions.csv')
predictions['presentation_date'] = pd.to_datetime(predictions['presentation_date'])
predictions.tail(20)

,competition_year,ticker,stock_name,base_3,bull_3,base_4,bull_4,base_5,bull_5,base_10,bull_10,short_base_9,short_bull_9,presentation_price,team_rank,presentation_date
10,2021,ANGI,Angi,NaN,NaN,NaN,NaN,45.26,NaN,NaN,NaN,NaN,NaN,17.03,NaN,2021-04-14
11,2021,AVLR,Avalara,NaN,NaN,NaN,NaN,NaN,NaN,850.0,NaN,NaN,NaN,142.56,NaN,2021-04-14
12,2021,BL,Blackline,NaN,NaN,NaN,NaN,322.00,NaN,NaN,NaN,NaN,NaN,111.00,NaN,2021-04-14
13,2021,DLB,Dolby,NaN,NaN,NaN,NaN,205.00,NaN,NaN,NaN,NaN,NaN,102.14,NaN,2021-04-14
14,2021,PEGA,Pegasystems,NaN,NaN,NaN,NaN,310.00,NaN,NaN,NaN,NaN,NaN,129.00,NaN,2021-04-14
15,2022,CARG,Cargurus,NaN,NaN,NaN,NaN,107.84,NaN,NaN,NaN,NaN,NaN,35.34,2.0,2022-04-26
16,2022,GAW,Games Workshop,NaN,NaN,NaN,NaN,182.51,NaN,NaN,NaN,NaN,NaN,73.35,NaN,2022-04-26
17,2022,PGNY,Progyny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,40.38,1.0,2022-04-26
18,2022,PYPL,Paypal,232.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.70,NaN,2022-04-26
19,2022,TNDM,Tandem,NaN,NaN,NaN,NaN,285.00,NaN,NaN,NaN,NaN,NaN,100.61,NaN,2022-04-26
20,2023,ABNB,Airbnb,NaN,NaN,NaN,NaN,322.00,NaN,NaN,NaN,NaN,NaN,115.50,NaN,2023-04-30
21,2023,FERG,Ferguson,NaN,NaN,NaN,NaN,227.00,NaN,NaN,NaN,NaN,NaN,124.73,NaN,2023-04-30
22,2023,LAD,Lithia Motors,487.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,220.00,NaN,2023-04-30
23,2023,NSP,Insperity,NaN,NaN,201.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.00,NaN,2023-04-30
24,2023,PLNT,Planet Fitness,NaN,NaN,163.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.65,NaN,2023-04-30
25,2019,^GSPC,S&P 500 2019,NaN,NaN,NaN,NaN,600.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-30
26,2020,^GSPC,S&P 500 2020,NaN,NaN,NaN,NaN,600.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-30
27,2021,^GSPC,S&P 500 2021,NaN,NaN,NaN,NaN,600.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-14
28,2022,^GSPC,S&P 500 2022,NaN,NaN,NaN,NaN,600.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-26
29,2023,^GSPC,S&P 500 2023,NaN,NaN,NaN,NaN,600.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-04-30

In [18]:
predictions['projection_date'] = '';

predictions.loc[predictions['base_3'].notnull(),'projection_date'] = predictions['presentation_date']  + pd.offsets.DateOffset(years=3)
predictions.loc[predictions['base_4'].notnull(),'projection_date'] = predictions['presentation_date']  + pd.offsets.DateOffset(years=4)
predictions.loc[predictions['base_5'].notnull(),'projection_date'] = predictions['presentation_date']  + pd.offsets.DateOffset(years=5)
#predictions.loc[predictions['base_10'].notnull(),'projection_date'] = predictions['presentation_date']  + timedelta(years=10)
predictions['projection_date'] = pd.to_datetime(predictions['projection_date'])
predictions['projection_price'] = predictions.base_3.fillna(predictions.base_4).fillna(predictions.base_5).fillna(predictions.base_10)
predictions.head(10)

,competition_year,ticker,stock_name,base_3,bull_3,base_4,bull_4,base_5,bull_5,base_10,bull_10,short_base_9,short_bull_9,presentation_price,team_rank,presentation_date,projection_date,projection_price
0,2019,ARMK,Aramark,57.70,81.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.00,2.0,2019-04-30,2022-04-30,57.70
1,2019,KMX,Carmax,149.00,234.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.94,NaN,2019-04-30,2022-04-30,149.00
2,2019,DOL,Dollarama,57.00,75.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.26,1.0,2019-04-30,2022-04-30,57.00
3,2019,SERV,Servicemaster Global,78.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.05,NaN,2019-04-30,2022-04-30,78.00
4,2019,USFD,US Foods,68.85,87.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.00,NaN,2019-04-30,2022-04-30,68.85
5,2020,BLL,Ball Corporation,NaN,NaN,115.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.00,NaN,2020-04-30,2024-04-30,115.00
6,2020,BR,Broadridge Financial Solutions,174.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.54,NaN,2020-04-30,2023-04-30,174.00
7,2020,EPAM,EPAM Systems,NaN,NaN,415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,196.18,1.0,2020-04-30,2024-04-30,415.00
8,2020,SYY,Sysco,103.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.84,2.0,2020-04-30,2023-04-30,103.00
9,2020,VRSK,Verisk Analytics,222.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.00,NaN,2020-04-30,2023-04-30,222.00

In [19]:
### create actuals dataframe

def fetch_stock_data(ticker, start_date, end_date):
    data = yf.download(ticker, start=start_date, end=end_date)
    return data
stock_data = [];

for index, row in predictions.iterrows():
    ticker = row['ticker']
    stock_name = row['stock_name']
    team_rank = row['team_rank']
    start_date = row['presentation_date']
    end_date = row['projection_date']
    reported_presentation_day_price = row['presentation_price']
    presentation_year = row['competition_year']


    data_temp = fetch_stock_data(ticker, start_date, end_date)
    data_temp['ticker'] = ticker
    data_temp['stock_name'] = stock_name
    data_temp['team_rank'] = team_rank
    data_temp['presentation_date'] = start_date
    data_temp['projection_date'] = end_date
    data_temp['presentation_year'] = presentation_year
    data_temp['reported_presentation_day_price'] = reported_presentation_day_price

    
    
    stock_data.append(data_temp)

    
stock_data = pd.concat(stock_data)
stock_data = stock_data.reset_index()
#for stock in predictions['ticker']:
#    print(stock)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['SERV']: Exception('%ticker%: No timezone found, symbol may be delisted')
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['BLL']: Exception('%ticker%: No timezone found, symbol may be delisted')
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['AVLR']: Exception('%ticker%: No timezone found, symbol may be delisted')
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['GAW']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2022-04-26 00:00:00 -> 2027-04-26 00:00:00)')
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['PGNY']: ValueError('Naive time - no tzinfo set')
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [20]:
stock_data['estimate_df'] = 0
stock_data['presentation_day'] = 0
stock_data['projection_day'] = 0


stock_data.loc[((stock_data['presentation_date'] == stock_data['Date']) | (stock_data['projection_date'] == stock_data['Date'])) ,'estimate_df'] = 1
stock_data.loc[((stock_data['presentation_date'] == stock_data['Date'])) ,'presentation_day'] = 1
stock_data.loc[((stock_data['projection_date'] == stock_data['Date'])) ,'projection_day'] = 1


stock_data

,Date,Open,High,Low,Close,Adj Close,Volume,ticker,stock_name,team_rank,presentation_date,projection_date,presentation_year,reported_presentation_day_price,estimate_df,presentation_day,projection_day
0,2019-04-30,22.483755,22.606499,22.231047,22.440434,21.064531,4.840298e+06,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,1,1,0
1,2019-05-01,22.548737,22.592058,22.231047,22.259928,20.895098,3.625930e+06,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0
2,2019-05-02,22.267147,22.527077,22.043322,22.180506,20.820539,2.943125e+06,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0
3,2019-05-03,22.324909,22.577618,22.202166,22.512634,21.132309,6.021703e+06,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0
4,2019-05-06,22.036100,22.657040,22.036100,22.606499,21.220415,5.229622e+06,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15289,2024-03-04,5130.990234,5149.669922,5127.180176,5130.950195,5130.950195,4.758440e+09,^GSPC,S&P 500 2023,NaN,2023-04-30,2028-04-30,2023,NaN,0,0,0
15290,2024-03-05,5110.520020,5114.540039,5056.819824,5078.649902,5078.649902,4.418410e+09,^GSPC,S&P 500 2023,NaN,2023-04-30,2028-04-30,2023,NaN,0,0,0
15291,2024-03-06,5108.029785,5127.970215,5092.220215,5104.759766,5104.759766,4.559050e+09,^GSPC,S&P 500 2023,NaN,2023-04-30,2028-04-30,2023,NaN,0,0,0
15292,2024-03-07,5132.379883,5165.620117,5128.209961,5157.359863,5157.359863,4.137980e+09,^GSPC,S&P 500 2023,NaN,2023-04-30,2028-04-30,2023,NaN,0,0,0
15293,2024-03-08,5164.459961,5189.259766,5117.500000,5123.689941,5123.689941,4.208870e+09,^GSPC,S&P 500 2023,NaN,2023-04-30,2028-04-30,2023,NaN,0,0,0

In [27]:
# Step 1: Find the price of each stock on the first day
first_day_prices = stock_data.groupby(['stock_name','presentation_date'])['Close'].first().reset_index()
first_day_prices.columns = ['stock_name','presentation_date', 'first_day_price']


# Step 2: Merge the first day prices back to the original DataFrame and calculate the ratio
df = stock_data.merge(first_day_prices, on=['stock_name','presentation_date'], how='left')
df['price_ratio'] = df['Close'] / df['first_day_price']

# Display the updated DataFrame
df.head(50)

,Date,Open,High,Low,Close,Adj Close,Volume,ticker,stock_name,team_rank,presentation_date,projection_date,presentation_year,reported_presentation_day_price,estimate_df,presentation_day,projection_day,first_day_price,price_ratio
0,2019-04-30,22.483755,22.606499,22.231047,22.440434,21.064531,4840298.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,1,1,0,22.440434,1.000000
1,2019-05-01,22.548737,22.592058,22.231047,22.259928,20.895098,3625930.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,0.991956
2,2019-05-02,22.267147,22.527077,22.043322,22.180506,20.820539,2943125.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,0.988417
3,2019-05-03,22.324909,22.577618,22.202166,22.512634,21.132309,6021703.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.003217
4,2019-05-06,22.036100,22.657040,22.036100,22.606499,21.220415,5229622.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.007400
5,2019-05-07,19.299639,21.335739,18.404331,21.321301,20.014021,23978782.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,0.950129
6,2019-05-08,21.191336,22.310469,21.068592,22.014441,20.664658,9293627.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,0.981017
7,2019-05-09,21.696751,22.938627,21.429604,22.635380,21.247532,9598881.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.008687
8,2019-05-10,22.498196,22.960289,22.216606,22.613718,21.227192,7078181.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.007722
9,2019-05-13,22.101084,22.613718,21.812275,22.527077,21.145866,6187626.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.003861
10,2019-05-14,22.555958,23.039711,22.361012,22.787004,21.389854,6174746.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.015444
11,2019-05-15,22.714802,23.162455,22.592058,23.010830,21.675508,7218759.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.025418
12,2019-05-16,23.003611,23.306858,22.743683,22.779783,21.457869,6609359.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.015122
13,2019-05-17,22.577618,23.075811,22.512634,22.844765,21.519073,4611635.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.018018
14,2019-05-20,22.693142,22.981949,22.563177,22.888086,21.559881,4422305.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.019948
15,2019-05-21,22.945848,23.292419,22.888086,23.285198,21.933950,4731853.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.037645
16,2019-05-22,23.184116,23.198557,22.895308,22.974730,21.641504,5615344.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.023810
17,2019-05-23,22.794224,22.823105,22.440434,22.534296,21.226629,6182502.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.004183
18,2019-05-24,22.657040,22.866426,22.425993,22.787004,21.464668,2335941.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.015444
19,2019-05-28,22.866426,23.010830,22.722021,22.909746,21.580282,9188367.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.020914
20,2019-05-29,22.866426,23.696751,22.866426,23.638988,22.267210,9685582.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.053411
21,2019-05-30,23.754513,26.173285,23.703972,25.191336,23.729473,23206506.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.122587
22,2019-05-31,25.090254,25.703972,24.974730,25.119135,23.661467,9842918.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.119369
23,2019-06-03,25.046930,25.198557,24.447653,24.909746,23.464228,6609774.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.110039
24,2019-06-04,25.184116,25.472923,25.111914,25.458485,23.981125,5834451.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.134492
25,2019-06-05,25.480145,25.638988,25.321301,25.581226,24.096743,7970537.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.139961
26,2019-06-06,25.523466,25.638988,25.400723,25.400723,23.926710,4257075.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.131918
27,2019-06-07,25.465704,25.703972,25.364620,25.675091,24.185158,3863735.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.144144
28,2019-06-10,25.819494,26.014441,24.967508,25.075811,23.620653,3027056.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.117439
29,2019-06-11,25.270758,25.574007,25.176895,25.314079,23.845093,3269708.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.128057
30,2019-06-12,25.212996,25.386282,24.974730,25.220217,23.756676,1712414.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.123874
31,2019-06-13,25.299639,25.407942,24.830324,24.924189,23.477833,1480981.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.110682
32,2019-06-14,24.909746,25.068592,24.794224,24.888086,23.443827,2093982.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.109073
33,2019-06-17,24.895308,25.155235,24.880865,25.018051,23.566248,1687207.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.114865
34,2019-06-18,25.198557,25.581226,25.126354,25.169676,23.709072,1701334.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.121622
35,2019-06-19,25.205776,25.249098,25.046930,25.169676,23.709072,2181652.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.121622
36,2019-06-20,25.299639,25.400723,25.010830,25.140795,23.681866,1756180.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.120335
37,2019-06-21,25.025270,25.234657,24.981949,24.981949,23.532244,1445663.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.113256
38,2019-06-24,24.953070,25.111914,24.693142,24.772564,23.335005,1875429.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.103925
39,2019-06-25,24.830324,25.054152,24.772564,24.772564,23.335005,1814350.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.103925
40,2019-06-26,24.823105,25.046930,24.534296,24.577618,23.151369,1885539.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.095238
41,2019-06-27,24.714802,25.407942,24.483755,25.386282,23.913109,3252119.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.131274
42,2019-06-28,25.364620,26.036100,25.277979,26.036100,24.525217,5615898.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.160232
43,2019-07-01,26.231047,26.296028,25.458485,25.805054,24.307581,2202843.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.149936
44,2019-07-02,25.768953,26.000000,25.574007,25.884478,24.382393,2087195.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.153475
45,2019-07-03,25.992781,26.057762,25.841154,25.942238,24.436800,945817.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.156049
46,2019-07-05,25.891697,26.223827,25.790613,26.216606,24.695251,844019.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.168275
47,2019-07-08,26.057762,26.194946,25.870035,26.028881,24.518415,1914763.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.159910
48,2019-07-09,25.855597,26.158846,25.595669,26.129965,24.613638,4359149.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.164414
49,2019-07-10,26.115522,26.375450,25.942238,26.050543,24.538822,5014254.0,ARMK,Aramark,2.0,2019-04-30,2022-04-30,2019,31.0,0,0,0,22.440434,1.160875

In [28]:
df.to_csv("daily_stock_price.csv")

In [22]:
fetch_stock_data('^GSPC','2019-01-01','2024-01-01')

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,2476.959961,2519.489990,2467.469971,2510.030029,2510.030029,3733160000
2019-01-03,2491.919922,2493.139893,2443.959961,2447.889893,2447.889893,3858830000
2019-01-04,2474.330078,2538.070068,2474.330078,2531.939941,2531.939941,4234140000
2019-01-07,2535.610107,2566.159912,2524.560059,2549.689941,2549.689941,4133120000
2019-01-08,2568.110107,2579.820068,2547.560059,2574.409912,2574.409912,4120060000
...,...,...,...,...,...,...
2023-12-22,4753.919922,4772.939941,4736.770020,4754.629883,4754.629883,3046770000
2023-12-26,4758.859863,4784.720215,4758.450195,4774.750000,4774.750000,2513910000
2023-12-27,4773.450195,4785.390137,4768.899902,4781.580078,4781.580078,2748450000
2023-12-28,4786.439941,4793.299805,4780.979980,4783.350098,4783.350098,2698860000
2023-12-29,4782.879883,4788.430176,4751.990234,4769.830078,4769.830078,3126060000